extends layout

block content

    .container
        h2(style='margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;') Bhoomi Puja
            form.form-vertical
                .row.form-group.col-md-12
                    .col
                        img(src="/images/bhoomi.png", alt="oops not showing")

                    .col(style='background-color: aliceblue;')
                        label.control-label.col-form-label Choose your date:
                        input.form-control(type='date' )

                        label.control-label.col-form-label Choose your time:
                        input.form-control(type='time' )
                
                        //- button.btn.btn-primary.btn-md(name='annaprashan') Book puja
                
                .row.form-group.col-md-12
                    .col

                    .col
                        label.control-label.col-form-label.col-md-5 501
                        button.btn.btn-primary.btn-md(name='annaprashan') Book puja
                    
        h1 
        p The month of shravan, kartik, margshirsh and paush of Hindu calendar are the most suitable time for the pujan of land. It is necessary to worship the land before construction work starts. Be careful while selecting the time for puja.Monday and Thursday proves to be the best day for puja.
        <br/> One should also avoid the adhik maas, the zero month, lunar month and sunset.The bhoomi pujan ceremony is conducted in strict conformance to vastu shastra. By performing this puja, one can appease the positive energies and natural elements surrounding the site. 

        hr

        //- .col-md-8
        h5(style='font-weight=bold;') Puja items / Samagri kit
        .row
            .col
                ul
                    li Ghee
                    li Lal-kapda(Red-cloth)
                    li Supari(Betel Nut)
                    li Haldi(Turmeric Powder)
                    li Kumkum
                    li Sindoor
                    li Abir
                    li Gulal
                    li Moli/Rakshasutra
                    li gud(Jaggery)
                    li Sahad(Honey)
                    li Mishri(Suger Candy)
                    li Itra(perfume)
                    li Kapoor(Camphor)
                    li Laung(cloves)
                    li Eliyachi(cardamom)
            .col
                ul
                    li peeli sarso(Yellow Mustard Seeds)
                    li Janeu(Sacred Thread)
                    li Haldi Gath(Dry Turmeric)
                    li Khajur( Dry dates)
                    li Nariyals(Dry Coconut)
                    li Gulab Jal(Rose Water)
                    li Ganga Jal(Holy Water)
                    li Gaumutra(Cow Urine)
                    li Capus-Batti(Cotton Wick)
                    li Agarbati(Incense Stick)
                    li kapus Vastra
                    li Rice
                    li Dona Packet
                    li Match Stick/Machis
                    li Durva
                    li Aam Patta,Tulsi
            .col
                ul
                    li Belpata
                    li Phool/Mala
                    li Panpata
                    li Sweets
                    li 1 Bowl of Panchamrit(Milk,Curd,Honey,Ghee & sugar)
                    li 1 Kalash
                    li Pata/Chaurang
                    li 5 Fruits
                    li 2 Thali
                    li 2 Bowl
                    li 2 Spoons
                    li Photo
                    li Aasan
                    li Deepak

                

        