extends layout

block content
    .container
        h1 Billing Address
        .row
            .form-group.col-md-12
                form.form-horizontal.billing-font
                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Enter your name:
                        .row
                            .col
                                input.form-control(name='fname', type='text', placeholder='First name')
                            .col
                                input.form-control(name='lname', type='text', placeholder='Last name')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 State:
                        input.form-control(name='state', type='text', placeholder='Enter your state')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Town/City:
                        input.form-control(name='town', type='text', placeholder='Enter your town/city')
                    
                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Address:
                        textarea.form-control(name='address', rows='3') House number and street name

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Postal/ZIP:
                        input.form-control(name='postal', type='text', placeholder='Postal/ZIP code of your town/city')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Mobile no:
                        input.form-control(name='contact', type='text', placeholder='Enter your mobile no. ')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Email Address:
                        input.form-control(name='email', type='email', placeholder='Enter your email id')

                    .row.form-group.col-md-8
                        button.btn.btn-primary.btn-md Proceed to pay
