extends layout

block content

    .container
        h3(style='margin-top: 142px;') Contact us at:

        p 
        span(style='font-weight: bold;') Reach us at: 151 West East highway CA,NY

        p 
        span(style='font-weight: bold;') Email us at: kk9328843@gmail.com

        p 
        span(style='font-weight: bold;') Call us at: 9109600518