
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Durga puja page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Durga puja
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/durga-puja.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Goddess Durga is the essence of women motherhood and power. Durga Puja is the day when all the
                             devotees worship the Goddess Durga with great devotion. Devotees worship her as power which
                              formed the universe. Goddess Durga plays a role of protector for their devotees and becomes 
                              destructor. Durga puja celebrated all over the world. here, we will ensure you to know the complete
                               information about the Durga puja festival. During the duration of Durga Puja, devotees worshipped
                                the Goddess Durga as Nav Durga. The exact date and time of Durga Puja are decided according to the
                                 Hindu calendar. During the ten auspicious days of Durga Puja celebrations, many different 
                                 rituals are performed. But in last five days of Durga Puja- Maha Saptami, Maha Shashthi, Vijay Dashmi and
                                  Maha Navami are celebrated with great festivity, zeal and enthusiasm all over the world.Its a easy way
                                   to find and book pandit online. Book pandit online through allpanditji.com is the most trustworthy way 
                                   to find panditji.
                        </p>
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>