
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Durga </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2>Durga ji</h2>

            <div class="carousel slide " id="carouselExampleControls" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="/images/laxmi.png" alt="ldnalx">
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/laxmi2.png" alt="ldnalx">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> 
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> 
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <p> Durga (Sanskrit: दुर्गा, IAST: Durgā), identified as Adi Parashakti, is a principal and popular form of Hindu Goddess. She is the warrior goddess, whose mythology centres around combating evils and demonic forces that threaten peace, prosperity and dharma of the good.  She is the fierce form of the protective mother goddess, willing to unleash her anger against wrong, violence for liberation and destruction to empower creation. Durga is depicted in the Hindu pantheon as a Goddess riding a lion or tiger, with many arms each carrying a weapon,  often defeating Mahishasura (lit. buffalo demon). The three principle forms of Durga worshiped are Maha Durga, Chandika and Aparajita. Of these, Chandika has two forms called Chandi who is of the combined power and form of Saraswati, Lakshmi and Parvati and of Chamunda who is a form of Kali created by the goddess for killing demons Chanda and Munda. Maha Durga has three forms: Ugrachanda, Bhadrakali and Katyayani. Bhadrakali Durga is also worshiped in the form of her nine epithets called Navadurga. She is a central deity in Shaktism tradition of Hinduism, where she is equated with the concept of ultimate reality called Brahman. One of the most important texts of Shaktism is Devi Mahatmya, also known as Durgā Saptashatī or Chandi patha, which celebrates Durga as the goddess, declaring her as the supreme being and the creator of the universe. Estimated to have been composed between 400 and 600 CE, this text is considered by Shakta Hindus to be as important a scripture as the Bhagavad Gita.  She has a significant following all over India, Bangladesh and Nepal, particularly in its eastern states such as West Bengal, Odisha, Jharkhand, Assam and Bihar. Durga is revered after spring and autumn harvests, specially during the festival of Navratri.

              </p>
 
        </div>
        {{> footer}}
    </body>
</html>