
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h1>Message</h2>
            {{!-- {{error.status}} --}}
            {{!-- {{error.stack}} --}}
            {{!-- h1= message
            h2= error.status
            pre #{error.stack} --}}
        
        </div>
        {{> footer}}
    </body>
</html>