//- page about ganesh ji
extends layout

block content

    .container
        h3 Ganesh ji

        //- #carouselExampleControls.carousel.slide(data-ride='carousel')
        //-     .carousel-inner
        //-         .carousel-item.active
        //-             img.d-block(src='/images/laxmi.png', alt='bscjsb')
        //-         .carousel-item
        //-             img.d-block(src='/images/laxmi2.png', alt='bscjsb')
        //-             //- img.d-block.w-100(src='/images/laxmi.jpg', alt='bscjsb')

        //-     a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        //-         span.carousel-control-prev-icon(aria-hidden='true')
        //-         span.sr-only Previous

        //-     a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        //-         span.carousel-control-next-icon(aria-hidden='true')
        //-         span.sr-only Next

        p Ganesha (Sanskrit: गणेश, IAST: Gaṇeśa)also known as Ganapati, Vinayaka or by numerous other names, is one of the best-known and most worshipped deities in the Hindu pantheon.  His image is found throughout India, Sri Lanka, Fiji, Thailand, Bali (Indonesia), Bangladesh and Nepal.  Hindu denominations worship him regardless of affiliations. Devotion to Ganesha is widely diffused and extends to Jains and Buddhists.Although he is known by many attributes, Ganesha's elephant head makes him easy to identify. Ganesha is widely revered as the remover of obstacles, the patron of arts and sciences and the deva of intellect and wisdom. As the god of beginnings, he is honoured at the start of rites and ceremonies. Ganesha is also invoked as patron of letters and learning during writing sessions. Several texts relate mythological anecdotes associated with his birth and exploits. Ganesha likely emerged as a deity as early as the 2nd century CE, but most certainly by the 4th and 5th centuries CE, during the Gupta period, although He inherited traits from Vedic and pre-Vedic precursors. Hindu mythology identifies him as the restored son of Parvati and Shiva of the Shaivism tradition, but he is a pan-Hindu god found in its various traditions.  In the Ganapatya tradition of Hinduism, Ganesha is the supreme deity. The principal texts on Ganesha include the Ganesha Purana, the Mudgala Purana, and the Ganapati Atharvashirsa. Brahma Purana and Brahmanda Purana are other two Puranic genre encyclopedic texts that deal with Ganesha. 

