extends layout

block content

    .container
        h2(style='margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;') Gauri Puja
        form.form-vertical
            .row.form-group.col-md-12
                .col
                    img(src="/images/bhoomi.png", alt="oops not showing")
                .col
                    p  Goddess Gauri is invited home and worshipped for three days. Married women pray to her for marital bliss and the long life of their husbands. Unmarried girls worship her in order to get virtuous husbands. The Gauri puja begins on the third day after Ganesh Chaturthi. This day is known as the avahana (arrival) as it is on this day that the Goddess is brought into the home. Following our tradition, the married women in the house draw small footsteps of the Goddess using rangoli (coloured) powder, following which Gauri's murti (idol) is brought home. 
                                     
                hr

            //- .col-md-8
            h5(style='font-weight=bold;') Puja items / Samagri kit
            .row
                .col
                    ul
                        li Ghee
                        li Lal-kapda(Red-cloth)
                        li Supari(Betel Nut)
                        li Haldi(Turmeric Powder)
                        li Kumkum
                        li Sindoor
                        li Abir
                        li Gulal
                        li Moli/Rakshasutra
                        li gud(Jaggery)
                        li Sahad(Honey)
                        li Mishri(Suger Candy)
                        li Itra(perfume)
                        li Kapoor(Camphor)
                        li Laung(cloves)
                        li Eliyachi(cardamom)
                .col
                    ul
                        li peeli sarso(Yellow Mustard Seeds)
                        li Janeu(Sacred Thread)
                        li Haldi Gath(Dry Turmeric)
                        li Khajur( Dry dates)
                        li Nariyals(Dry Coconut)
                        li Gulab Jal(Rose Water)
                        li Ganga Jal(Holy Water)
                        li Gaumutra(Cow Urine)
                        li Capus-Batti(Cotton Wick)
                        li Agarbati(Incense Stick)
                        li kapus Vastra
                        li Rice
                        li Dona Packet
                        li Match Stick/Machis
                        li Durva
                        li Aam Patta,Tulsi
                .col
                    ul
                        li Belpata
                        li Phool/Mala
                        li Panpata
                        li Sweets
                        li 1 Bowl of Panchamrit(Milk,Curd,Honey,Ghee & sugar)
                        li 1 Kalash
                        li Pata/Chaurang
                        li 5 Fruits
                        li 2 Thali
                        li 2 Bowl
                        li 2 Spoons
                        li Photo
                        li Aasan
                        li Deepak

                    

            