
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grah Pravesh Puja page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Grah Pravesh Puja  
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/grah-pravesh.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>
                            Puja for new house is also referred as the Griha Pravesh Puja. This puja is performed before
                             entering into the new house for the first time. Once the house is constructed and ready to
                            move in the family, take the help of a priest to determine the auspicious muhurat to move
                            in the house. The priest determine the muhurat by the help of astrological charts and the panchangs.
                                There are three types of Griha Pravesh mentioned in the ancient Vedic scriptures, which are Approva,
                            Sapoorva, and the Dwandwah. The Aproova is performed during the first time entry in the newly constructed
                            house. It is also termed as new griha pravesh. The Sapoorva is performed during the entry into an already 
                            constructed house. When the family migrates from one place to other or come back after travelling
                            abroad this puja is performed. The last puja, dwandwah is performed after reconstruction of the
                            house after damage from fire, earthquake, or flood.You can book panditji online for vastu shanti
                                and griha pravesh with samagri.
                        </p>

                        <ol>
                            <strong>Griha Pravesh Puja(House Warming Ceremony) Includes</strong> 
                            <li>Kalash Sthapana</li>
                            <li>Ganpati & Gouri Puja</li>
                            <li>Enter To New Home</li>
                            <li>Navgrah Puja</li>
                            <li>Vastu Shanti</li>
                            <li>Havan</li>

                        </ol>
                        
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>