
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Billing Page </title>
    </head>
    <body style="background-color: #fbedbf;">
        
        <h1>Title</h1>
        <p>Welcome to {}</p>
            
        </div>
    </body>
</html>