
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Laxmi puja page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Laxmi puja
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/laxmi.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Laxmi puja was performed as a symbol of lord Ram’s victory over Raavan in the fierce battle between lord Rama and Raavan in Lanka. The return of lord Ram to Ayodhyamp was celebrated with great pomp and show. Shree Ram was coronated and Laxmi puja was performed by the people of Ayodhya. Lakshmi puja is also commonly referred to as Diwali puja which is conducted in honor of Maa Sita (lord Rams missus) This festival is sub divided into several other festivals like Bhaiya Dooj, Dhanteras, Govardhan Puja, Narak Chaturdasi, and Diwali. These all festivals make the celebration of Diwali more exciting and prosperous. According to the legend, Goddess Laxmi came in the form of Maa Sita and by performing Laxmi puja Goddess Laxmi is pleased and she bestows her devotees with blessings and wealth. Houses are adorned and cleaned during Diwali with the intensions that goddess Laxmi would bring in joy, prosperity and ensures that her worshippers live in peace and a state of well-being. A magnificent light of knowledge is said to unfold on this day. This self-enlightenment is asserted through the gleaming lamps that illuminate the abode of the worshippers. Karthik Krishna Amavasya is considered to be the most auspicious day to perform Laxmi puja. allpanditji.com provides you Experienced panditji for Laxmi puja / Diwali Puja with samagri. 
                        The muhurat or auspicious timing for conducting Lakshmi Pujan this year is between 5.57 pm and 7.53 pm on November 7th, 2018. 
                        Diwali 2018 Dates in India & Calendar
                        Diwali 2018 Dates	Diwali Festival
                        Dhanteras 2018	5th November 2018
                        Chhoti Diwali/Narak Chaturdashi 2018	6th November 2018
                        Badi Diwali/ Lakshmi Pujan 2018	7th November 2018
                        Govardhan Puja 2018	8th November 2018
                        Bhai Duj/Bhau Beej 2018	9th November 2018

                    </p>>
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>