//- page about laxmi ji
extends layout

block content

    .container
        h3 Laxmi ji

        #carouselExampleControls.carousel.slide(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    img.d-block(src='/images/laxmi.png', alt='bscjsb')
                .carousel-item
                    img.d-block(src='/images/laxmi2.png', alt='bscjsb')
                    //- img.d-block.w-100(src='/images/laxmi.jpg', alt='bscjsb')

            a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous

            a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

        p Lakshmi (Sanskrit: लक्ष्मी, IAST: lakṣmī) or Laxmi, is the Hindu goddess of wealth, fortune and prosperity.She is the wife and shakti (energy) of Vishnu, one of the principal deities of Hinduism and the Supreme Being in the Vaishnavism Tradition.With Parvati and Saraswati, she forms Tridevi, the holy trinity. Lakshmi is also an important deity in Jainism and found in Jain temples. Lakshmi has also been a goddess of abundance and fortune for Buddhists, and was represented on the oldest surviving stupas and cave temples of Buddhism. In Buddhist sects of Tibet, Nepal and southeast Asia, goddess Vasudhara mirrors the characteristics and attributes of the Hindu goddess Lakshmi with minor iconographic differences is also called Sri or Thirumagal because she is endowed with six auspicious and divine qualities, or gunas, and is the divine strength of Vishnu.
        p In Hindu religion, she was born from the churning of the primordial ocean (Samudra manthan) and she chose Vishnu as her eternal consort. When Vishnu descended on the Earth as the avatars Rama and Krishna, Lakshmi descended as his respective consort as Sita and Rukmini.  In the ancient scriptures of India, all women are declared to be embodiments of Lakshmi. The marriage and relationship between Lakshmi and Vishnu as wife and husband is the paradigm for rituals and ceremonies for the bride and groom in Hindu weddings. Lakshmi is considered another aspect of the same supreme goddess principle in the Shaktism tradition of Hinduism.
