
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mahashivratri Puja page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Mahashivratri Puja 
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/shivratri-puja.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Shivaratri Pooja has been given tremendous significance in Hindu mythology. It is said that
                             ritual worship of Lord Shiva on a Shivaratri day pleases Lord Shiva the most. Devotees further
                              believe that by pleasing Lord Shankara on the auspicious Shivaratri day, a person is absolved of
                               past sins and is blessed with Moksha or salvation. Besides, worship of Lord Shiva on Shivratri
                                is also considered to be extremely beneficial for women. While, married women pray to Shiva for
                                 the well being of their husbands and sons, unmarried women pray for a husband like Shiva, who
                                  is considered to be the ideal husband. 
                                Merits of Shivaratri Puja
                                According to Shiva Purana, sincere worship of Lord Shiva yields merits including
                                 spiritual growth for the devotees. It also provides extensive details on the right way to
                                  perform Shivratri Puja. 
                        </p>
                        <ul>
                            <li>Milk is for the blessing of purity and piousness.</li>
                            <li>Yogurt is for prosperity and progeny.</li>
                            <li>Honey is for sweet speech.</li>
                            <li>Ghee is for victory.</li>
                            <li>Sugar is for happiness.</li>
                            <li>Water is for purity.</li>
                        </ul>
                               
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>