
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mangal Dosh Nivaran Puja page </title>
    </head>
    <body> style="background-color: #fbedbf;"
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Mangal Dosh Nivaran Puja
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/mangal-dosh.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>If planet Mars (“Mangal” or “Kuja“) is situated in the 1st, 2nd, 4th, 7th, 8th or 12th house
                             of a person’s Rashi (Indian astrological moon sign) when he/she is born; then that person
                              is a “Manglik” (also called “Mangalik“).
                            It is believed that “Mangalik Dosha” (or “Manglik Dosh” or “Mangal Dosha“) mainly impacts
                             a person’s married life. It can lead to disharmony and tension between the husband and wife.
                              Some also believe that marriage between a Manglik and a non-Manglik can lead to the untimely
                               death of one of the partners. According to jyotishshastra if Mangal presences in the first,
                                fourth, seventh, eighth and twelth position in janmakundali then man or woman called mangalik.
                                 In this situation he or she has suffer from severl problems. Sometimes it cause for late merrige.
                                  In that case bride and groom both must be mangalik. By the effect of mangaldosha of man or woman
                                   has face sometime short age, illness and other problems. Mangal shanti is the only one solution 
                                   of all these problems. Mangal shanti pujan has organise only in Mangalnath temple. Bhat puja
                                    is the only one method for that type of puja. 


                        </p>
                        
                        
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>