
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mata ki chowki page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Mata ki chowki puja
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/durga-puja.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Mata ki Chowki is a religious get together, through Chowkis. Mata Ki Chowki is short time kirtan
                             which can be performed at any time throughout the day, anytime of the year. In Mata Ki Chowki,
                              the group preaches about Mata, sings “Jagrata” and motivates devotees all over the world to pay
                               their respects through their prayers. This program, can be organised on the happy occasions such
                                as Weddings, Engagements, Birthdays, Anniversaries or during Ganpati and Navratri festivals.
                                 Maa Durga is the embodiment of the divine energy and the creative power. Maa Durga reigns as
                                  the Mother Goddess, amongst the Goddesses worshiped by Hindus. Although there are innumerable
                                   forms of Goddesses and ultimately all are one, yet Durga-form is the most popular one. In Vedic
                                    Mantras, the Mother is the Prime God.  There is enough devotional music, —which makes it easier
                                     for the people in attendance to dance and enjoy the entire night of Jagran and Mata Ki Chowki.
                                      Also, sometimes there are these artistes, dressed as different Gods, while dancing on the bhajans
                                       and keeping everyone in full bhakti mode. 
 
                        </p>
                        </p>
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>