extends layout

block content
    a(href='#open-modal') Open Modal
    #open-modal.modal-window
        div
            a.modal-close(href='#modal-close', title='Close') close &times;
            img.rounded-image(src='/images/annprashan2.jpg', alt='Avatar')
            h3 Pt. Acharya Rajesh
            table   
                tbody
                    tr
                        td Email:
                        td.data acharyaRajesh@gmail.com
                    tr
                        td City:
                        td.data Bhopal
                    tr
                        td Contact no:
                        td.data +91 90009444656
                    tr
                        td Address:
                        td.data 113 Junior msg subhash
    
    block content
        //- script(src='/javascripts/modals.js')
        link(rel='stylesheet' href='/stylesheets/modal.css')
//- doctype html
//- html
//-     head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     link(rel='stylesheet', href='/stylesheets/bootstrap.css')
//-     link(rel='stylesheet' href='/stylesheets/modal.css')
//- body  
    //- //- block content
    //- //- trigger/open the modal
    //- button#myBtn Open Modal

    //- //-the modal 
    //- #myModal.modal

    //- //- modal content
    //- .modal-content
    //-     span.close &times;
    //-     p Some text in the modal

    //- block content
    //- script(src='/javascripts/modals.js')
    //- script(src='/javascripts/jquery-3.3.1.min.js')
    //- script(src='/javascripts/bootstrap.js')

//- form.form-control.form-horizontal.col-md-6
            //- .row
            //-     .col
            //-         label.control-label Email:
            //-         label.control-label City:
            //-         label.control-label Contact no:
            //-         label.control-label Address: