<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pandit in Indore </title>
        <link rel="stylesheet" href="/stylesheets/modal.css">
    </head>
    <body>
        {{> header}}
                
        <div class="container">
            <h1>Panditji in Indore</h1>
            <form class="form-group form-horizontal">
                {{!-- second row  --}}
                <div class="row">
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Satakshi Jyotishudh Sanstha</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-rajesh" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Satakshi Jyotishudh Sanstha</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">SatakshiSanstha@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 409</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">1/104 Mukti Marg</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Acharya P Laxminarayan</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-shastri" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Acharya P Laxminarayan</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">PLaxminarayan@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 404</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">E 7/26, Arera Colony,462016, Chatragupt society, near chitransh college</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Mishra Pujapath</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Mishra Pujapath</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">MishraPujapath@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 406</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">74 Ibrahimganj ,Bhopal 462011</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Sundar Lala Shastri</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Sundar Lala Shastri</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">sundarlaal@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 403</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">Jr MIG71, Aish Bagh, Bhopal 462010</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- third row  --}}
                <div class="row">
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Narendra Shrivastava</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-rajesh" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Narendra Shrivastava</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">narendra@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 409</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">sp road,10 A , Bhopal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Acharya Shri Guruji</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-shastri" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Acharya Shri Guruji</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">shriguruji@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 404</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">chappan bhog, malviya nagar, bhopal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Acharya Dr Panchal Jyotish</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Acharya Dr Panchal Jyotish</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">drpanchal@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 406</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">janki bhawan, 16 old ashoka garden rai chand road gautam nagar bhopal</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Swarn Sagar</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/annprashan2.jpg" alt="Avatar">
                                        <h3>Pt Swarn Sagar</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">sudhashashan@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 403</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">169 near Rashidia school Bhopal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- second row  --}}
                <div class="row">
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt C I Panchal</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-rajesh" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt C I Panchal</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">cipanchal@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 409</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">janki bhawan 16 old ashok garden bhopal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Vinod Goutam</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-shastri" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Vinod Goutam</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">vinodgautam@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 404</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">chappan bhog, malviya nagar, bhopal</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Vaidhik</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt. Vaidhik</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">vaidhik@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 406</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">74 Ibrahimganj ,Bhopal 462011</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Rajesh Dubey</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/annprashan2.jpg" alt="Avatar">
                                        <h3>Pt Rajesh Dubey</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">ranjeet@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 403</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">Narialkera lig mp nagar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- first row contains 4 items --}}
                <div class="row">
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Acharya Rajesh</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-rajesh" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Acharya Rajesh</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">acharyaRajesh@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 403</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">113 junior mig subhash</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Ashok Shastri</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-shastri" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Ashok Shastri</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">AshokShastri@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 404</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">33,Bairagarh, Bhopal- 462030, Sanatan Parishad CTO, Kailash Nagar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt. Sanjay Sharma</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/pic2.jpg" alt="Avatar">
                                        <h3>Pt Sanjay Sharma</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">SanjaySharma@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 406</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">33,Bairagarh, Bhopal- 462030, Sanatan Parishad CTO, Kailash Nagar</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="polaroid">
                            <img src="/images/pic2.jpg", alt="island">
                            <div class="img-container">
                                <a href="#open-modal"><p>Pt Acharya Shri Guruji</p></a>
                                <div id="open-modal" class="modal-window">
                                    <div>
                                        <a class="modal-close" href="#modal-close" title="Close"> close &times;</a>
                                        <img class="rounded-image" src="/images/annprashan2.jpg" alt="Avatar">
                                        <h3>Pt Acharya Shri Guruji</h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td class="data">shriguruji@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td>City:</td>
                                                    <td class="data">Bhopal</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact no:</td>
                                                    <td class="data">+91 9009 444 403</td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td class="data">Narialkera lig mp nagar</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>
                
            </form>
        </div>

        {{!-- footer code is not working after including 'modals.css' --}}
        {{!-- {{> footer}} --}}             
    </body>
    </html>