extends layout

block content
    .container
        h1 Panditji in Bhopal

        form.form-group.form-horizontal
            .row
                .col
                    .polaroid
                        img(src="/images/pic.jpg", alt="island")
                        .img-container
                            p Cinque terra
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb        
            .row
                .col
                    .polaroid
                        img(src="/images/pic.jpg", alt="island")
                        .img-container
                            p Cinque terra
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb   
            .row
                .col
                    .polaroid
                        img(src="/images/pic.jpg", alt="island")
                        .img-container
                            p Cinque terra
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb
                .col
                    .polaroid
                        img(src="/images/img (2).jpg", alt="ijnsknc")
                        .img-container
                            p dgsgfxbvnvn jb                                 

        //- .d-flex.flex-row
        //-     .p-2(style="background-color: #599dd8;") Flex Item 1
        //-     .p-2(style="background-color: #599dd8;") Flex Item 1
        //-     .p-2 Flex Item 1
        //-     .p-2 Flex Item 1
        
        //- .d-flex.flex-row-reverse
        //-     .p-2 Flex Item 1
        //-     .p-2 Flex Item 1
        //-     .p-2 Flex Item 1
        //-     .p-2 Flex Item 1

        //- .choose_box
        //-     .img_box
        //-         span.fa.fa-2x.fa-clock-o
            
        //-     .descriptions
        //-         h3 On Time Service
        //-         p We lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl slWe lcnnslns s jls ls ls sl sl

        //- .form-group.col-md-12
        //-     form.form-horizontal
        //-         .row.form-group.col-md-12
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 

        //-         .row.form-group.col-md-12
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-         .row.form-group.col-md-12
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
        //-             .col
        //-             .col(style='background-color: #e2eef9;')
        //-                 img(src='/images/annprashan2.jpg', alt='sldsjdsjdjsd')
        //-                 p Pt. Achharya 
        //-                 br(Rajesh) 
                    