
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pitra Dosh Nivaran Puja page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Pitra Dosh Nivaran Puja
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/pitra-dosh-nivaran.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Pitra puja is a way to give respect to ancestors.
                        For the late departed ancestors prita paksh is observed once in a year in Bhadrapad / Ashwin
                         months into the autumn. 
                        Its duration is of 15 days from Purnima (full moon) to Amavas (new moon). We also call it Shradh,
                         Sharadh Pakhwada, Sharadh Parv, by which you get blessing from departed ancestors in which we
                          repay to them by this ritual.
                        Many problems may occur in one’s life their Pitras are not happy. Pitra Dosh is not a curse from
                         the ancestors, but it is a debt of the ancestors. The person having Pitra Dosh in his horoscope
                          is supposed to pay for the ancestor’s debt. So a Pitra Dosh in a horoscope does not mean that
                           the ancestors are cursing the person having Pitra Dosh in his horoscope. Pitra dosh is undoubtedly 
                           one of the most feared doshas in a horoscope according to Vedic astrology and it can trouble the
                            native with various kinds of problems and misfortunes in all spheres of his life. 

                        </p>
                        
                        
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>