extends layout

block content
    .container
        h1 Register here
        p Please register using the form below

            if errors
                each error, i in errors
                    div.alert.alert-danger #{error.msg}
        .row
            .form-group.col-md-12
                form.form-horizontal.registration-font(method='post', action='/users/registration-pandit', enctype='multipart/form-data')
                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Enter your name:
                        input.form-control(name='name', type='text', placeholder='Enter your name')
                        
                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Username:
                        input.form-control(name='username', type='text', placeholder='Enter your user name(should contain only letters and numbers)')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 E-mail address:
                        input.form-control(name='email', type='email', placeholder='Enter your email id')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Password:
                        input.form-control(name='password', type='password', placeholder='Must be 8-12 characters long') 

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Confirm your password:
                        input.form-control(name='password2', type='password')
                    
                    //- .row.form-group.col-md-4
                    //-     label.control-label.col-form-label.col-sm-5 Date of birth:
                    //-     input.form-control(name='dob', type='date')

                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Contact no:
                        input.form-control(name='contact_no', type='text', placeholder='Enter your contact no')
                    
                    .row.form-group.col-md-8
                        label.control-label.col-form-label.col-sm-5 Years of experience:
                        input.form-control(name='years_experience', type='text')

                    .row.form-group.col-md-8
                        label.control-label Upload your photograph:
                        input.form-control-file(name='profile_image', type='file')

                    .row.form-group.col-md-8
                        label.control-label Address:
                        textarea.form-control(name='address', rows='3') Enter your address:
                    
                    .row.form-group.col-md-8
                        input.btn.btn-primary(type='submit', name='submit', value='register')
