
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Saraswati </title>
    </head>
    <body>
        {{> header}}
        <div class="container">
            <h2>Saraswati ji</h2>

            <div class="carousel slide " id="carouselExampleControls" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="/images/laxmi.png" alt="ldnalx">
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/laxmi2.png" alt="ldnalx">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> 
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> 
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <p>Saraswati (सरस्वती, IAST: Sarasvatī) is the Hindu goddess of knowledge, music, art, wisdom, and learning. 
            She is a part of the trinity (Tridevi) of Saraswati, Lakshmi, and Parvati. All the three forms help the trinity of Brahma, Vishnu, and Shiva to create, maintain, and regenerate-recycle the Universe, respectively. The earliest known mention of Saraswati as a goddess is in the Rigveda. She has remained significant as a goddess from the Vedic period through modern times of Hindu traditions.  Some Hindus celebrate the festival of Vasant Panchami (the fifth day of spring, and also known as Saraswati Puja and Saraswati Jayanti in so many parts of India) in her honour, and mark the day by helping young children learn how to write the letters of the alphabet on that day.  The Goddess is also revered by believers of the Jain religion of west and central India,  as well as some Buddhist sects. Saraswati, is a Sanskrit fusion word of saras (सरस्) meaning "pooling water", but also sometimes translated as "speech"; and vati (वती) meaning "she who possesses" (also found in the name of Parvati, "She who has wings"). Originally associated with the river or rivers known as Saraswati, this combination therefore means "she who has ponds, lakes, and pooling water" or occasionally "she who possesses speech". It is also a Sanskrit composite word of surasa-vati (सुरस-वति) which means "one with plenty of water".
      </p>
 
        </div>
        {{> footer}}
    </body>
</html>