
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sundarkaand Paath page </title>
    </head>
    <body style="background-color: #fbedbf;">
        {{> header}}
        <div class="container">
            <h2 style="margin-top: 58px; margin-bottom: 4.5rem;text-align: center;font-weight:400;font-weight: 500;font-family: initial;">
                Sundarkaand Paath
            </h2>
            <form class="form-vertical">
                <div class="row form-group col-md-12">
                    <div class="col">
                        <img src="/images/pujas/sundarkand-path.png" alt="oops not showing">
                    </div>
                    <div class="col">
                        <p>Sunderkand is the fifth chapter of the Hindu holy book called ‘Ramayan’. The Ramayana has been 
                            divided into following chapters by Tulsidas as per the events and importance of the life of
                             lord shri Ram.
                        </p>
                        <ul>
                            <li>Balyakand</li>
                            <li>Ayodhyakand</li>
                            <li>Aranyakand</li>
                            <li>Kishkindhakand</li>
                            <li>Sunderkand</li>
                            <li>Lankakand</li>
                            <li>Utarakand</li>
                        </ul> 
                        <p>
                            The Sundarkand is the fifth chapter and the most blessed Kand of Ramayana .The section details
                             Hanumanji's journey to Lanka in search of Maa Sita. Reciting the Sundarkand is considerd as
                              very auspicious and it is one of the best methods to worship Hanumanji.Sudarkand commences with 
                              Jamba van reminding Hanumanji about his powers and Hanumanji setting on the journey to Lanka to find Maa
                               Sita.Sundar Means beautiful,also one of the names of Hanumanji is Sundar.Sundarkand states qualities of
                                Hanumanji and that for Hanumanji nothing is impossible.Sundarkand teaches us that Dharma alone will triumph.
                                 Hanuman puja is considered to fulfill all wishes . In Scriptures there are number of steps to get its blessings 
                                 and one of them is Sunderkand Paath. In Ram Charit Manas too much importance has been given to Sunderkand. 

                        </p>
                        
                    </div>
                </div>
                <hr>

                <h5 style="font-weight:bold;"> Puja items/ Samagri kit</h5>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Ghee</li>
                            <li>Lal-kapda(Red-cloth)</li> 
                            <li>Supari(Betel Nut)</li>
                            <li>Haldi(Turmeric Powder)</li>
                            <li>Kumkum</li>
                            <li>Sindoor</li>
                            <li>Abir</li>
                            <li>Gulal</li>
                            <li>Moli/Rakshasutra</li>
                            <li>gud(Jaggery</li>
                            <li>Sahad(Honey)</li>
                            <li>Mishri(Suger Candy)</li>
                            <li>Itra(perfume)</li>
                            <li>Kapoor(Camphor)</li>
                            <li>Laung(cloves)</li>
                            <li>Eliyachi(cardamon)</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>peeli sarso(Yellow Mustard Seeds)</li>
                            <li>Janeu(Sacred Thread)</li>
                            <li>Haldi Gath(Dry Turmeric)</li>
                            <li>Khajur( Dry dates)</li>
                            <li>Nariyals(Dry Coconut)</li>
                            <li>Gulab Jal(Rose Water)</li>
                            <li>Ganga Jal(Holy Water)</li>
                            <li>Gaumutra(Cow Urine)</li>
                            <li>Capus-Batti(Cotton Wick)</li>
                            <li>Agarbati(Incense Stick)</li>
                            <li>kapus Vastra</li>
                            <li>Rice</li>
                            <li>Dona Packet</li>
                            <li>Match Stick/Machis</li>
                            <li>Durva</li>
                            <li>Aam Patta,Tulsi</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Belpata</li>
                            <li>Phool/Mala</li>
                            <li>Panpata</li>
                            <li>Sweets</li>
                            <li>1 Bowl of Panchmarit(Milk,Curd,Honey,Ghee and Sugar</li>
                            <li>1 Kalash</li>
                            <li>Pata/Chaurang</li>
                            <li>5 fruits</li>
                            <li>2 Thali</li>
                            <li>2 Bowl</li>
                            <li>2 Spoons</li>
                            <li>Photo</li>
                            <li>Aasan</li>
                            <li>Deepak</li>
                        </ul>
                    </div>
                </div>
            </form>
            
        </div>
        {{> footer}}
    </body>
</html>