//- page about vishnu ji
extends layout

block content

    .container
        h3 Vishnu ji

        //- #carouselExampleControls.carousel.slide(data-ride='carousel')
        //-     .carousel-inner
        //-         .carousel-item.active
        //-             img.d-block(src='/images/laxmi.png', alt='bscjsb')
        //-         .carousel-item
        //-             img.d-block(src='/images/laxmi2.png', alt='bscjsb')
        //-             //- img.d-block.w-100(src='/images/laxmi.jpg', alt='bscjsb')

        //-     a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        //-         span.carousel-control-prev-icon(aria-hidden='true')
        //-         span.sr-only Previous

        //-     a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        //-         span.carousel-control-next-icon(aria-hidden='true')
        //-         span.sr-only Next

        p Vishnu (Sanskrit pronunciation: [ʋɪʂɳʊ]; Sanskrit: विष्णु, IAST: Viṣṇu) is one of the principal deities of Hinduism, and the Supreme Being or absolute truth in its Vaishnavism tradition Vishnu is the "preserver" in the Hindu triad (Trimurti) that includes Brahma and Shiva. 
        p In Vaishnavism, Vishnu is identical to the formless metaphysical concept called Brahman, the supreme, the Svayam Bhagavan, who takes various avatars as "the preserver, protector" whenever the world is threatened with evil, chaos, and destructive forces. His avatars most notably include Rama in the Ramayana and Krishna in the Mahabharata. He is also known as Narayana, Jagannath, Vasudeva, Vithoba, and Hari. He is one of the five equivalent deities worshipped in Panchayatana puja of the Smarta Tradition of Hinduism.  In Hindu iconography, Vishnu is usually depicted as having a pale or dark blue complexion and having four arms. He holds a padma (lotus flower) in his lower left hand, Kaumodaki gada (mace) in his lower right hand, Panchajanya shankha (conch) in his upper left hand and the Sudarshana Chakra (discus) in his upper right hand. A traditional depiction is Vishnu reclining on the coils of the serpent Shesha, accompanied by his consort Lakshmi, as he "dreams the universe into reality".
